body {
  background-color: #f57469;
}

header {
  padding: 0 0 30px 0;
}

.main {
  background-color: #f57469;
  max-width: 500px;
  margin: 45px auto;
  box-shadow: #b4ea63 0px 54px 55px, #b4ea63 0px -12px 30px, #b4ea63 0px 4px 6px,
    #b4ea63 0px 12px 13px, #b4ea63 0px -3px 5px;
  border-radius: 16px;
  padding: 30px;
}

.search-form-input {
  background-color: #dcb879;
  border: 1px solid #f57469;
  border-radius: 10px;
  border: 1px solid #b4ea63;
  width: 80%;
  font-size: 14px;
  padding: 10px 15px;
  color: black;
}

.search-form-button {
  background: #dcb879;
  padding: 10px;
  border: 1px solid #b4ea63;
  border-radius: 10px;
  color: black;
  margin-left: 5px;
  font-size: 14px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 1.5;
}

.weather-app-details {
  font-size: 16px;
  line-height: 1.5;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-temp-container-emoji {
  font-size: 80px;
  margin-top: 13px;
}

.weather-app-temp-container-temp {
  font-size: 50px;
  color: #b4ea63;
  margin-left: 10px;
  margin-top: 33px;
}

.weather-app-temp-container-unit {
  font-size: 20px;
  margin-top: 38px;
  color: #b4ea63;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  line-height: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  justify-content: center;
}

.weather-forecast-temps {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temp {
  padding: 0 5px;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}

a {
  color: #dcb879;
}
